a {
  color: white;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  font-size: 5.8vmax;
}

.home__startBtn {
  font-family: "Roboto Slab", serif;
  border: 0.5vmax solid white;
  padding: 2.5vmax;
  border-radius: 30px;
  font-size: 7vw;
}

.home__startBtn:hover {
}

.home__welcome {
  margin-bottom: 15vmax;
  font-weight: 650;
  font-size: 8vw;
}
