a {
  color: white;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 85vh;
  font-size: 3vw;
}

.home__startBtn {
  font-family: "Roboto Slab", serif;
  border: 0.5vmax solid white;
  padding: 1.5vmax;
  border-radius: 5vmax;
  font-size: 2vw;
}

.home__startBtn:hover {
}

.home__welcome {
  margin: 15vh 0;
  font-weight: 650;
}

@media only screen and (max-width: 700px) {
  .home__startBtn,
  .home__welcome {
    font-size: 4vmax;
  }
}
