.question {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 84vh;
  font-size: 2.5vmax;
}

.question__active {
  color: rgb(255, 193, 78) !important;
}

.question__answer {
  margin: 3vh 1vw;
}

.question__next {
  font-family: "Roboto Slab", serif;
  border: 0.3vmax solid white;
  padding: 1vmax;
  border-radius: 15vmax;
  font-size: 2vmax;
}

.question__possibleAnswers {
}

.question__title {
  text-decoration: 1px underline rgba(255, 255, 255, 0.5);
  font-weight: 650;
  text-align: center;
  margin: 0 2vw;
}

@media only screen and (max-width: 700px) {
  .question__title,
  .question__answer {
    font-size: 3.5vmax;
  }

  .question__next {
    font-size: 2vmax;
  }
}
