.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2vw 5vh 2vw;
  min-height: 80vh;
}

.question__answer {
  font-size: 8vw;
  margin: 3vh 1vw;
}

.question__next {
  font-family: "Roboto Slab", serif;
  border: 0.5vmax solid white;
  padding: 2.5vmax;
  border-radius: 30px;
  font-size: 7vw;
  margin-top: 2vh;
}

.question__possibleAnswers {
}

.question__title {
  margin: 5vw;
  text-decoration: 1px underline rgba(255, 255, 255, 0.5);
  font-weight: 650;
  text-align: center;
  font-size: 7vw;
}
